.header{
    background-color: plum;
}
.nav{
    background-color: plum;
}
.col{
    display:flex
}
.col1{
    background-color: plum;
}
.col2{
    background-color: plum;
}
.col3{
    background-color: plum;
}
.footer{
    background-color: plum;
}